@import '_nullstyle';
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,400;0,500;0,700;1,400&display=swap');


.flex {
    background: #27557046;
    display: flex;
    align-items:center;
    height: 100vh;
    width: 100%;
    padding: 0 20px;

    .game {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        background: #84a5af25;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        color: #275570e5;
        .title {
            margin: 0 0 30px 0;
            width: 70%;
            > * {
                margin: 0 0 20px 0;
            }
            &__name{
                font-size: 50px;
                font-weight: 700;
                margin: 0 0 60px 0;
                color: #275570e5;
            }
            &__text {
                font-size: 25px;
                font-weight: 500;
                color: #28678bda;
            }
            &__discription {
                font-size: 18px;
                margin: 0;
                font-weight: 400;
                font-style: italic;
                line-height: 24px;
                color: #06486e;
            }
            
        }
        #message {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
        }
        ._win {
            color: rgba(16, 119, 16, 0.808);
        }

        ._try-again {
            color: rgb(184, 144, 15);
        }

        ._isNAN{
            color: rgb(255, 0, 0);
        }
    
        .game-start {
            display: flex;
            justify-content: center;
        
            #input {
                border: 0.2px solid rgb(20, 15, 15);
                margin: 20px;
                height: 30px;
            }
            
            .GO {
                border: 0.02px solid rgba(20, 15, 15, 0.164);
                width: 80px;
                background: #9bcde4;
                font-size: 16px;
                color: rgb(73, 77, 83);
                height: 30px;
                margin: 20px 0; 
                box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px, rgba(60, 64, 67, 0.15) 0px 3px 7px 3px;

                &:hover {
                    background: #56aad1;
                }
        
                &:active {
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                }
            }
        }
    
        .restart {
            border: 0.02px solid rgba(20, 15, 15, 0.164);
            width: 160px;
            padding: 6px;
            margin: 0 0 20px 0;
            background: #9bcde4;
            font-size: 20px;
            color: rgb(73, 77, 83);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px, rgba(60, 64, 67, 0.15) 0px 3px 7px 3px;
    
            &:hover {
                background: #56aad1;
            }
    
            &:active {
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            }
        }

        .count-block {
            height: 22px;
            .counter {
                font-size: 22px;
            }
        }

    }
}


